
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNguoidung.cshtml";
}

<h2>Shop Lưu Thiết Dần</h2>


<h2>Email : luuthietdan123@gmail.com</h2>


<p>SDT : 0971902297</p>


<h2>Địa Chỉ : 1/12 Phường Hiệp Phú Quận 9 TP.HCM</h2>

